<div class="home-container-sec about-bg">
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="about-profile-image"></div>
		</div>
		<div class="col-md-9">
			<h3 class="summary-title">Hello, My name is Tejashree Kate</h3>
			<hr>
			<p>Current working as a front-end developer at Tata Consultancy Services, Ltd (TCS) and love the work that I am doing. I am personally able to connect with the front end development since I always had a liking for design and creativity . With my knowledge of design and front end technologies, I try for best possible user experience. Mostly interested in web application development.</p>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-6">
			<h4><i class="glyphicon glyphicon-user"></i> Identity</h4>
			<table class="table table-striped">
				<tbody>
					<tr>
						<td>Full Name:</td>
						<td>Tejashree Pradeep Kate</td>
					</tr>
					<tr>
						<td>Date of Birth:</td>
						<td>18/11/1990</td>
					</tr>
					<tr>
						<td>Address:</td>
						<td>Mumbai</td>
					</tr>
					<tr>
						<td>Languages:</td>
						<td>English, Hindi, Marathi</td>
					</tr>
					<tr>
						<td>Hobbies:</td>
						<td>Drawing, Painting, Music, Reading Novels, Playing Badminton</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6">
			<h4><i class="glyphicon glyphicon-file"></i> Work Experience</h4>
			<table class="table">
				<tr>
					<td>Total Work Ex:</td>
					<td> 2yrs as a UI Developer</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h4><i class="glyphicon glyphicon-education"></i> Educational Details</h4>
			<div class="edu_section">
				<div class="time_mark">2012</div>
				<div class="edu_details">
					Degree: B.E.(Electronics & Telecommunication)
					Institute:Yeshwantrao Chavan college of engineering and technology (RTMNU) University of Nagpur, India.
				</div>
			</div>
			<div class="edu_section">
				<div class="time_mark">2008</div>
				<div class="edu_details">
					Degree: H.S.S.C (Vocational Electronics)
					Institute:Dr. Ambedkar College, Nagpur. Maharashtra state board.
				</div>
			</div>
			<div class="edu_section">
				<div class="time_mark">2006</div>
				<div class="edu_details">
					Degree: S.S.C
					Institute:Somalwar Ramdaspeth, Nagpur. Maharashtra state Board.
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<h4><i class="glyphicon glyphicon-list-alt"></i> Certifications</h4>
			<h6>Microsoft Certified HTML5, CSS3 and Javascript Professional</h6>
		</div>
	</div>
</div>
</div>