<div class="home-container-sec about-bg">
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="about-profile-image"></div>
		</div>
		<div class="col-md-9">
			<h3 class="summary-title">Hello, My name is Tejashree Kate</h3>
			<hr style="border-top:1px solid #9ccc65;">
			<p>I am currently pursuing Master's in Information Systems at New Jersey Institute of technology. I have a total 3 years of professional experience as a Web/UI developer. Actively looking for summer 2017 internships/co-op</p>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-6">
			<h4><i class="glyphicon glyphicon-user"></i> Identity</h4>
			<table class="table table-striped">
				<tbody>
					<tr>
						<td>Full Name:</td>
						<td>Tejashree Pradeep Kate</td>
					</tr>
					<tr>
						<td>Date of Birth:</td>
						<td>18/11/1990</td>
					</tr>
					<tr>
						<td>Address:</td>
						<td>Jersey City, New Jersey</td>
					</tr>
					<tr>
						<td>Languages:</td>
						<td>English, Hindi, Marathi</td>
					</tr>
					<tr>
						<td>Hobbies:</td>
						<td>Drawing, Painting, Music, Reading, Badminton</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6">
			<h4><i class="glyphicon glyphicon-file"></i> Work Experience</h4>
				Total Work Ex: 3yrs as a UI Developer
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h4><i class="glyphicon glyphicon-education"></i> Educational Details</h4>
			<div class="edu_section">
				<div class="time_mark">Current</div>
				<div class="edu_details">
					Degree: Master's in Information Systems
					University: New Jersey Institute of Technology<br>
					(Expected Dec 2017)
				</div>
			</div>
			<div class="edu_section">
				<div class="time_mark">2012</div>
				<div class="edu_details">
					Degree: B.E.(Electronics & Telecommunication)
					College:Yeshwantrao Chavan college of engineering and technology (RTMNU) University of Nagpur, India.
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<h4><i class="glyphicon glyphicon-list-alt"></i> Certifications</h4>
			<h5 style="color:#3f51b5;"><b>Microsoft Certified HTML5, CSS3 and Javascript Professional</b></h5>
		</div>
	</div>
</div>
</div>