<div class="home-container-sec contact-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<br>
				<h4>Contact Details:</h4>
				<table class="contact-table table">
					<tr>
						<td><i class="fa fa-envelope"></i></td>
						<td><a>teju.kate@gmail.com</a></td>
					</tr>
					<tr>
						<td><i class="fa fa-linkedin-square"></i></td>
						<td><a href="https://in.linkedin.com/pub/tejashree-kate/30/661/4a1">https://in.linkedin.com/pub/tejashree-kate/30/661/4a1</a></td>
					</tr>
					<tr>
						<td><i class="fa fa-twitter"></i></td>
						<td><a href="https://twitter.com/tejashree_kate">https://twitter.com/tejashree_kate</a></td>
					</tr>
					<tr>
						<td><i class="fa fa-facebook-square"></i></td>
						<td><a>https://www.facebook.com/tejashree.kate.9</a></td>
					</tr>
				</table>
			</div>
			<div class="col-md-8">
				<br>
				<ui-gmap-google-map center='map.center' zoom='map.zoom'>
					<ui-gmap-marker coords="marker.coords" idkey="marker.id">
				</ui-gmap-google-map>
			</div>
		</div>
	</div>
</div>