<!-- <div class="home-container">
	<div class="display-image"></div>
	<div class="display-text">
		<h1 style="color:#fff;font-family:monospace">Hello, I'm Tejashree</h1>
		<h4 class="text-muted" style="color:#FFCA7D;;"><i>Front-end Developer</i> <a href="https://in.linkedin.com/pub/tejashree-kate/30/661/4a1"><i style="color:#003366;" class="fa fa-linkedin-square"></i></a></h4>
		<h3 class="text-muted" style="color:#003366;;">Life is the way you see it !!</h3>
		<button class='btn btn-default btn-lg' ng-click="goTo('/about')">Find out more</button>
		<button class="btn btn-default btn-lg download-btn"><a href="lib/Tejashree Kate CV_update.docx">Download CV</a></button>
	</div>
</div> -->
<div class="home-container">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="display-image"></div>
			</div>
			<div class="col-sm-5 col-md-5">
				<h1 style="color:#fff;font-family:monospace">Hello, I'm Tejashree</h1>
				<h4 class="text-muted" style="color:#800000;;"><i>Front-end Developer</i> <a href="https://in.linkedin.com/pub/tejashree-kate/30/661/4a1"><i style="color:#003366;" class="fa fa-linkedin-square"></i></a></h4>
				<h3 class="text-muted" style="color:#003366;;">Life is the way you see it !!</h3>
				<div class="pin-box">
					<div class="board-pin"></div>
					<b> Things I believe in:</b>
					<ul>
						<li> Keep Learning </li>
						<li>Keep Going & move forward</li>
						<li>Believe in yourself</li>
						<li>Life is the way u see it</li>
					</ul>
				</div>
				<div class="home-button-section">
					<button class='btn btn-default btn-lg' ng-click="goTo('/about')">Find out more</button>
					<button class="btn btn-default btn-lg download-btn"><a href="lib/Tejashree Kate CV_update.docx">Download CV</a></button>
				</div>
			</div>
			<div class="col-sm-3 col-md-3">

			</div>
		</div>
	</div>
</div>