<div class="home-container-sec profile-bg">
	<div class="container profile-chart">
		<d3chart></d3chart>
		<div class="skill_legend">
			<div class="legend-box" style="background-color:rgb(255, 165, 0);"></div>
			<div class="legend-title">Basic Technologies</div>
			<br>
			<div class="legend-box" style="background-color:rgb(255, 255, 0);"></div>
			<div class="legend-title">External Libraries</div>
			<br>
			<div class="legend-box" style="background-color:rgb(100, 149, 237);"></div>
			<div class="legend-title">UI Frameworks</div>
			<br>
			<div class="legend-box" style="background-color:rgb(255, 192, 203)"></div>
			<div class="legend-title">CSS related frameworks</div>
		</div>
	</div>
</div>